<div class="row" ng-hide="song._id">
  <div class="col-md-6">
      <h2>Create new song</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Number (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="song.number" required> 
    </p>
    <p>
      <label>Name (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="song.name" required> 
    </p>
    <p>
      <label>Lyric (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="song.lyric" required> 
    </p>
    <p>
      <label>Author</label> 
      <input id="name" class="form-control" type="text" ng-model="song.author"> 
    </p>
    
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveSong(song)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>
